body{
    background-image: url("../imagens/imagem\ principal.jpeg");
    background-repeat: repeat;
    background-size: 100%;

    background-color: white;
    color: white; 

    
}

.formatacao{
    width: 1500px;
    margin: 0 auto;
    background-color: aliceblue;
}

.principal{
    margin-top: 10px;
    background-color: white;
    color: black    ;
   
}

.card1{
    font-size: 23px;
}